@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* { box-sizing: border-box; font-family: 'Poppins', sans-serif !important; color: white; }

html { font-size: 62.5%; scroll-behavior: smooth; }

body { background-color: #000000; margin-left: 0px; margin-right: 0px; }

header { display: flex; flex-direction: column; margin-right: auto; margin-left: auto; margin-top: 0px; }

.logo { padding-left: 50px; padding-right: 43px; width: 200px; }

@media (min-width: 720px) { .logo { width: 250px; } }

@media (min-width: 1024px) { .logo { width: 300px; } }

@media (min-width: 1200px) { .logo { width: 350px; } }

.walking { height: 55px; }

@media (min-width: 720px) { .walking { height: 80px; } }

@media (min-width: 1024px) { .walking { height: 100px; } }

@media (min-width: 1200px) { .walking { height: 120px; } }

.walking1 { height: 50px; }

@media (min-width: 720px) { .walking1 { height: 76px; } }

@media (min-width: 1024px) { .walking1 { height: 96px; } }

@media (min-width: 1200px) { .walking1 { height: 115px; } }

.images { display: flex; align-self: center; margin-top: 60px; }

.menu { list-style-type: none; display: flex; justify-content: space-evenly; padding-left: 1px; overflow: hidden; background-color: white; margin-bottom: 20px; width: 100%; }

.background { width: 100%; margin-bottom: 30px; margin-top: 2%; }

.navbar { font-size: 1.1em; padding: 7px 5px 5px 0px; position: fixed; width: 100%; z-index: 1000; opacity: .96; }

.nav-link { border-bottom: 1px solid black; font-weight: bold; margin-right: 20px; }

.nav-link:hover { background-color: black; color: white !important; }

@media (min-width: 720px) { .nav-link { font-size: 1.1em !important; } }

@media (min-width: 1024px) { .nav-link { font-size: 1.2em !important; } }

@media (min-width: 1200px) { .nav-link { font-size: 1.3em !important; } }

.container1 { display: flex; justify-content: center; margin-bottom: 15px; }

.container1 h2 { display: none; }

@media (min-width: 1024px) { .container1 h2 { display: block; } }

.container1 div { text-align: center; position: relative; margin-bottom: 10px; width: 100%; }

.container1 div img { height: 70px; border-radius: 30px; align-self: center; }

@media (min-width: 720px) { .container1 div img { height: 90px; } }

@media (min-width: 1024px) { .container1 div img { height: 110px; margin-bottom: 20px; } }

.container1 div p { display: none; }

@media (min-width: 1024px) { .container1 div p { display: block; padding-left: 10px; padding-right: 10px; font-size: 1.345rem; text-align: left; } }

@media (min-width: 1024px) { .container1 { display: grid; } }

@media (min-width: 1024px) { .container1 .description { border: 1.5px solid white; margin: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; padding: 15px; } }

.more { display: none; }

.more:hover { background-color: rgba(211, 211, 211, 0.87); }

@media (min-width: 1024px) { .more { display: block; text-decoration: none; color: black !important; background-color: white; font-weight: bold; padding: 10px; float: right; font-size: 1.3rem; margin-right: 20px; transition: all 0.4s; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; } }

.paul-george { display: flex; }

.john-ringo { display: flex; }

#intro { padding-left: 20px; padding-right: 20px; align-content: center; justify-content: center; align-self: center; background-color: #f9f4f4; font-weight: bold; padding: 15px; }

#intro p { font-size: 110%; padding-bottom: 20px; margin-bottom: 0px; line-height: 1.5em; color: black !important; }

#intro p:first-letter { font-size: 3em; margin-right: 5px; }

@media (min-width: 720px) { #intro p { font-size: 120% !important; } }

@media (min-width: 1024px) { #intro p { font-size: 130% !important; } }

@media (min-width: 1200px) { #intro p { font-size: 150% !important; } }

#intro h2 { font-size: 2em !important; text-align: center; color: black !important; font-weight: bold; }

@media (min-width: 720px) { #intro h2 { font-size: 2.2em !important; } }

@media (min-width: 1024px) { #intro h2 { font-size: 2.4em !important; } }

@media (min-width: 1200px) { #intro h2 { font-size: 2.6em !important; } }

.liverpool { width: 100%; opacity: .5; }

.option { color: black !important; text-decoration: none; font-size: 1.5rem; font-weight: bold; display: flex; justify-content: space-evenly; padding: 4px; transition: all 0.4s; }

.division { border-top: 2px solid white; margin-top: 20px; padding-top: 10px; width: 100%; justify-content: center; }

.gallery { display: grid; grid-template-columns: repeat(auto-fit, minmax(270px, 200px)); gap: 10px; justify-content: center; margin-bottom: 150px; margin-top: 20px; align-items: center; }

.gallery div img { max-width: 100%; height: auto; transition: all 0.5; position: relative; filter: sepia(60%); }

.gallery div img:hover { transform: scale(1.4); transition: all .4s; z-index: 2; filter: initial; cursor: pointer; }

.items { display: flex; text-decoration: none; }

@media (min-width: 1024px) { .items { width: 60%; margin-right: 20%; margin-left: 20%; } }

.items ul { list-style-type: none; padding: 10px; margin-left: 5%; margin-right: 5%; font-size: 170%; width: 100%; }

.items ul li { display: flex; padding: 5px 15px 5px 15px; border: 2px solid white; margin-bottom: 20px; justify-content: center; font-weight: bold; }

form { width: fit-content; border: 1px solid white; margin-top: 40px; margin-bottom: 40px; padding: 15px; border-bottom-right-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-top-left-radius: 20px; }

form label { width: 50%; padding: 2px; }

@media (min-width: 1024px) { form { width: 60%; } }

fieldset { width: 90%; padding: 10px; color: white; font-size: 150%; margin-left: 5%; margin-right: 5%; margin-top: 40px; }

fieldset legend { background-color: #f3e6ce; color: #000000; font-size: .7em; padding: 10px; font-weight: bold; border-bottom-right-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-top-left-radius: 20px; width: fit-content; margin-bottom: 40px; }

@media (min-width: 720px) { fieldset legend { font-size: 1em; } }

@media (min-width: 1024px) { fieldset legend { font-size: 1.1em; } }

@media (min-width: 1200px) { fieldset legend { font-size: 1.2em; } }

input { margin: 6px; width: 90%; background-color: #ebe9e9; border-bottom-right-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-top-left-radius: 15px; color: #000000; padding: 5px; }

.submit { float: right; width: 30%; margin-top: 40px; transition: all .4s; border: 1px solid black; }

.submit:hover { background-color: #000000; color: white; border: 1px solid white; }

.music-description { background-color: #f3e6ce; padding: 10px 20px 10px 20px; margin-top: 20px; }

.music-description h1 { color: black; font-weight: bold; }

.music-description p { color: black; font-size: 1.1em; }

@media (min-width: 720px) { .music-description p { font-size: 1.2em; } }

@media (min-width: 1024px) { .music-description p { font-size: 1.3em; } }

@media (min-width: 1200px) { .music-description p { font-size: 1.4em; } }

.music-description a { text-decoration: none; font-weight: bold; color: black; }

.carousel { width: 90%; position: relative; background-color: black; }

.carousel h1 { color: black !important; background-color: #f3e6ce; height: 40px; font-weight: bold; font-size: 1.2em; display: flex; justify-content: center; align-items: center; margin: 10px 8% 20px 8%; opacity: .8; border-bottom-right-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-top-left-radius: 20px; padding: 10px; }

@media (min-width: 720px) { .carousel h1 { font-size: 1.4em; } }

@media (min-width: 1024px) { .carousel h1 { font-size: 1.6em; } }

@media (min-width: 1200px) { .carousel h1 { font-size: 2em; } }

.carousel article { margin-top: 15px; border: 0.5px solid #edd6d6; padding: 10px; font-size: 1.1em; border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 10px; }

@media (min-width: 720px) { .carousel article { font-size: 1.2em; } }

@media (min-width: 1024px) { .carousel article { font-size: 1.3em; } }

@media (min-width: 1200px) { .carousel article { font-size: 1.4em; } }

.carousel img { border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 10px; }

.carousel-inner { width: 80%; margin: 0 10% 0 10%; padding: 0px 10px 20px 10px; background-color: black; }

@media (min-width: 1024px) { .carousel-inner { width: 60%; margin: 0 20% 0 20%; } }

.carousel-control-next { background-color: #7a7878; height: 40px; width: 40px !important; border-radius: 50%; opacity: .5 !important; margin-top: 10px; }

@media (min-width: 1024px) { .carousel-control-next { margin-right: 10%; } }

.carousel-control-prev { background-color: #7a7878; height: 40px; width: 40px !important; border-radius: 50%; opacity: .5 !important; margin-top: 10px; }

@media (min-width: 1024px) { .carousel-control-prev { margin-left: 10%; } }

footer { justify-content: center; align-items: center; display: flex; text-align: center; color: white; margin: 100px 5% 20px 5%; border: 1px solid white; width: 90%; padding-bottom: 10px; }

@media (min-width: 720px) { footer p { font-size: 1.4em; } }

@media (min-width: 1024px) { footer p { font-size: 1.5em; } }

.icons { margin: 10px; display: inline-flex; gap: 30px; }

.icons .bi-spotify { transition: all .4s; }

.icons .bi-spotify:hover { color: #065d06; }

.icons .bi-instagram { transition: all .4s; }

.icons .bi-instagram:hover { color: #b3556b; }

.icons .bi-youtube { transition: all .4s; }

.icons .bi-youtube:hover { color: #920606; }

.footer-logo { width: 70px; margin-top: 8px; }

@media (min-width: 720px) { .footer-logo { width: 80px; } }

@media (min-width: 1024px) { .footer-logo { width: 90px; } }

@media (min-width: 1200px) { .footer-logo { width: 110px; } }

.box { width: 100%; margin: 0 auto; }

.box li { border-bottom-left-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; border-top-right-radius: 20px; background-color: white; transition: all 0.4s ease-out; color: black !important; }

.box li:hover { background-color: black; color: white !important; }

.button { color: black; text-decoration: none; cursor: pointer; transition: all 0.3s ease-out; }

.button:hover { color: white; }

.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; font-size: 1.2em; }

@media (min-width: 720px) { .overlay { font-size: 1,3em; } }

@media (min-width: 1024px) { .overlay { font-size: 1,4em; } }

@media (min-width: 1200px) { .overlay { font-size: 1,5em; } }

.overlay:target { visibility: visible; opacity: 1; }

.popup { margin: 70px auto; padding: 10px 10px 10px 10px; background-color: #f3e6ce; border-radius: 5px; width: 90%; transition: all 5s ease-in-out; min-height: 200px; max-height: 400px; overflow-y: scroll !important; }

.popup h2 { margin-top: 0; color: black; font-weight: bold; margin-bottom: 10px; }

.popup .close { top: 10px; right: 30px; transition: all 200ms; font-size: 25px; font-weight: bold; text-decoration: none; color: #333; margin-left: 90%; }

.popup .close:hover { color: #d83b06; }

.popup .content { max-height: 30%; overflow: auto; border: 2px solid black; padding: 15px; background-color: white; }

.popup .content p { color: black; }

.albums-banners { display: flex; margin: 50px 5% 30px 5%; background-color: black; }

.albums-banners .banner { width: 20%; height: 100%; display: none; }

@media (min-width: 1024px) { .albums-banners .banner { display: block; } }

#spotify { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 200px)); gap: 40px; justify-content: center; margin-left: 10%; margin-right: 10%; }
