*{
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    color: white;
    scroll-behavior: smooth;
    
}

body{
    background-color: #000000;
    margin-left: 0px;
    margin-right: 0px;
    
}

header{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;  
    align-self: flex-start;
    margin-top: 0px;
}   

.logo{
    padding-left: 50px;
    padding-right: 43px;
    width: 200px;  
     
}

.walking{
    height: 55px;
}

.walking1{
    height: 50px;
}

.images{
    display: flex;
    align-self: center;
    padding-top: 40px
}

.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 20px;  
    width: 100%;  
 
}


.background{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 2%;
}


.navbar{
    font-size: 1.1em;
    padding: 7px 5px 5px 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: .96;
}

.nav-link{
    border-bottom: 1px solid black;
    font-weight: bold;
}

.nav-link:hover{
    background-color: black;
    color: white !important;
}




.container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.container1 h2{
    display: none;
}

.container1 div{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.paul-george{
    display: flex;
}

.john-ringo{
    display: flex;
}

#intro{
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    justify-content: center;
    align-self: center;
    text-align: justify;
    background-color: rgb(249, 244, 244);
    color: black;
    font-weight: bold;
    padding: 15px;
}



#intro p{
    font-size: 140%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    line-height: 1.5em;
}

#intro p::first-letter{
    font-size: 3em;
}

.liverpool{
    width: 100%;
}


h2{
    font-size: 2rem;
    text-align: center;
 
}

.container1 div img{
    height: 70px;    
    border-radius: 30px;  
}

.more{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    font-size: 1.2rem;
    margin-right: 20px;
    transition: all 0.4s;
    display: none
}

.more:hover{
    background-color: rgba(211, 211, 211, 0.87);
}

.container1 div p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.345rem;
    text-align: justify;
    text-justify: inter-word;
    display: none;
}

.option{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    transition: all 0.4s
}

.division{
    border-top: 2px solid white;
    margin-top: 20px;
    padding-top: 10px;
}

footer{
    margin: 100px 10px 10px 10px;
    border: 1px solid white;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 200px));
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 20px;
}

.gallery div img{
    max-width: 100%;
    height: auto;  
    transition: all 0.5;
    position: relative;
    filter: sepia(60%);
    
}

.gallery div img:hover {
    transform: scale(1.5);
    transition: .4s;
    z-index: 2;
    filter: initial;
    cursor: pointer;
}

.items{
    display: flex;
    color: black;
    text-decoration: none;
}

.items ul{
    list-style-type: none;
    padding: 10px;
    margin-left: 5%;
    font-size: 170%;
}

.items ul li{
    color: white;
    display: flex;
    padding: 5px 15px 5px 15px;
    border: 2px solid white;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;

}

.form{
    font-size: 180%;
    margin-left: 15px;
    margin-right: 15px;
}

.form label{
    padding: 20px;
}

input{
    margin: 6px ;
}


.carousel-inner{
    margin-right: 10%;
    width: 80%;
    margin-left: 10%;
}

@media only screen and (min-width: 481px) {
    .nav-item{
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold
    }
    

}



@media only screen and (min-width: 769px) {
    .carousel-inner{
        margin-right: 30%;
        width: 40%;
        margin-left: 30%;
        height: 100%;
    }

    .navbar{
        font-size: 1.3em;
        padding: .5px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: 30px;
        
    }

    .nav-item{
        font-size: 1.16em;
  
    }

    .nav.link{
        color: red;
    
    }

    .images{
        padding-top: 60px
    }

    .carousel-control-prev{
        margin-left: 20%;
        
    }

    .carousel-control-next{
        margin-right: 20%;
    }
    
    .container1{
        align-self: center;
        width: 100%;
    }

    container1 p{
        padding: 0px;
    }

    .container1 h2{
        display: block;
        color: white;
        margin-top: 30px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .paul-george{
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        align-self: center;
    }
    
    .john-ringo{
        display: block;
        margin-bottom: 20px;
        padding: 10px;
        align-self: center;
    }

    .container1 div p{
        display: block;
        color: white;
    }


    .walking{
        height: 130px;
        display: block
    }
    
    .walking1{
        height:120px;
        display: block
    }

    .paul-george div{
        border: 1px solid white;
        border-radius: 3%;
        padding: 15px 10px 40px 10px;
    }
    
    .john-ringo div{
        border: 1px solid white;
        border-radius: 3%;
        padding: 15px 10px 40px 10px;
        
    }

    .nav{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .logo{
        padding-left: 50px;
        padding-right: 43px;
        width: 300px;  
    }



    .container1 div img{
        height: 100px;    
        border-radius: 30px;  
    }

    .more{
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        float: right;
        font-size: 1.2rem;
        margin-right: 20px;
        transition: all 0.4s;
        display: block;
    }

    .option{
        font-size: 2em;
    } 

    #intro h2{
        font-size: 4em;
    }
    #intro p{
        font-size: 190%;
        
    }
    

}




@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 1201px) {
    .container1 h2{
        display: block;
    }

}